models/vgg16_bn-6c64b313.pth
vis/training/
vis/testing/
runs/
log/
ckpt/run_1/
ckpt/run_2/
ckpt/run_3/
ckpt/run_4/
ckpt/run_5/
ckpt/run_1take2/
ckpt/run_5take2/

vis/run_1/
vis/run_2/
vis/run_3/
vis/run_4/
vis/run_5/
vis/run_1take2/
vis/run_5take2/
